@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<TiendaVirtual.Models.Categoria>
@{

    <h2>Lista de Categorias</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    
                    <td>
                        @if (String.IsNullOrEmpty(item.Nombre))
                        {
                            <span class="text-danger">Sin nombre</span>
                        }
                        else
                        {
                            <span class="text-success">Activa</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
