@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<TiendaVirtual.Models.Producto>
@{
 

    <h2>Lista de Productos</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Estado</th>              
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Precio</td>
                    <td>@item.Stock</td>
                    <td>@item.Categoria?.Nombre</td>
                    <td>
                        @if (item.TieneStock())
                        {
                            <span class="text-success">Disponible</span>
                        }
                        else
                        {
                            <span class="text-danger">Agotado</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

